<h1>Thank you for Your Order</h1>
<div class="wrap">

<div class="card">
  <div class="card-block">
    <h4 class="card-title" style="text-align:center">   <strong>Username:</strong> <%= @order.username %></h4>
    <p class="card-text" style="text-align:center">  <strong>Phone:</strong><%= @order.phone %></p>
    <p class="card-text" style="text-align:center">  <strong>Address:</strong><%= @order.address %></p>
  </div>
  <%= image_tag @selected_food_item.food_item.image_url_or_auto %>
  <div class="card-block">
    <p class="card-text" style="text-align:center"><%= @selected_food_item.food_item.name %></p>
    <p class="card-text" style="text-align:center"><%= @selected_food_item.food_item.description %></p>
    <p class="card-text" style="text-align:center"><span class="label label-info total-count">
              <%= number_to_currency @selected_food_item.food_item.price + 20000 %>
             </span>
    <p class="card-text" style="text-align:center"><span class="label label-info total-count">
      <%= @selected_food_item.food_item.created_at.strftime("Created on: %d %b %y at %I:%M%p") %>
  </div>
</div>
</div>